h1 {
    font-size: 45px;
    font-family: Raleway, monospace;
    color: #bd2e14;
  }
  
  #title{
    padding: 20px;
    text-align: center;
  }
  
  /*sub title*/
  h3 {
    font-size: 20px;
    font-family: Raleway, monospace;
    text-align: center;
    font-style: italic; 
    color: #b1ae9c;
    }
  
  #image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border-style: solid;  
    border-radius: 25px;
    border-width: medium;
    border-color: #e4ae41;
    }
  
  figcaption{
    font-size: 15px;
    font-style: italic; 
    color: #b1ae9c;
    text-align: right;
    margin-top: 2px;
    }
  
  #tribute-info{
    padding: 20px;
  }
  
  h2 {
    font-size: 25px;
    font-family: Raleway, monospace;
    color: #89210b;
    text-align: center;
  }
  
  main {
    background: black;
  }
  
.flexbox {
  display: flex;
}

  .flexbox > * {
    width: 100%;
  }

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: top;
    font-size: 15px;
    font-family: Raleway, monospace;
    font-weight: bolder;
    color: black;
    border-style: solid;  
    border-radius: 25px;
    border-width: medium;
    border-color: #e4ae41;
    padding: 0.5em;
    background: #f2eed8;
    height: auto;
    margin: 0.5em;
    float: left;
    line-height: 1.5;
    }
  
  footer {
    clear: both;
    text-align: center;
    font-size: 15px;
    font-family: Raleway, monospace;
    color: #f2eed8;
  }