h1 {
    font-size: 45px;
    font-family: monospace;
    color: #FFCB9A;
  }
  
  #title{
    padding: 20px;
    text-align: center;
  }
  
  /*sub title*/
  h3 {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    font-style: italic; 
    color: #D1E8E2;
    }
  
  #image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border-style: solid;  
    border-radius: 25px;
    border-width: medium;
    border-color: antiquewhite;
    }
  
  figcaption{
    font-size: 15px;
    font-style: italic; 
    color: #D1E8E2;
    text-align: right;
    margin-top: 2px;
    }
  
  #tribute-info{
    padding: 20px;
  }
  
  h2 {
    font-size: 25px;
    font-family: monospace;
    color: #FFCB9A;
  }
  
  main {
    background: #116466;
  }
  
.flexbox {
  display: flex;
}

  .flexbox > * {
    width: 100%;
  }

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    font-size: 15px;
    font-family: monospace;
    color: #D1E8E2;
    border-style: solid;  
    border-radius: 25px;
    border-width: medium;
    border-color: antiquewhite;
    padding: 1em;
    background: #2C3531;
    height: auto;
    margin: 0.5em;
    float: left;
    }
  
  .child {
    color: #D1E8E2;
    border-style: solid;  
    border-radius: 25px;
    border-width: medium;
    border-color: antiquewhite;
    padding: 1em;
    background: #2C3531;
    height: auto;
    margin: 0.5em;
    min-height: 100%;
    float: right;
  }
  
  footer {
    clear: both;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    color: #D1E8E2;
  }